* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo {
    width: 70%;
    margin: 3rem auto 0 auto;
}

.header {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

input {
    padding: 10px 3px;
    width: 100%;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.btn {
    padding: 10px 1rem;
    background: #334;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.todo-content {
    margin-top: 2rem;
}

.circular-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;

    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}